html {
	overflow: hidden;
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 15px;
	height: 100%;
}

.tick {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 130px;
	background-color: #89e18a;
}

.cross {
	position: absolute;
	top: 0;
	right: 0;
	width: 80px;
	height: 130px;
	background-color: #d26b4a;
}		

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul li {
	position: relative;
	overflow: hidden;
	border-bottom: solid 1px #eeeeee;
}

.tweet {
	margin: 0;
	height: 130px;
	z-index: 100;
	position: relative;
	background-color: #ffffff;
	color: #333333;
}

.tweet.active {
	font-weight: 400;
}

.text {
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	padding: 15px 30px 15px 0;
	/*padding: 15px 30px 15px 145px;*/
}

.icon-outer {
	height: 130px;
    width: 100px;
    overflow: hidden;
    float: left;
}

.icon-middle {
	height: 70px;
    width: 70px;
    background-color: #eeeeee;
    margin-left: 15px;
    margin-top: 30px;
}

.icon {
	height: 30px;
	width: 30px;
	margin-left: 20px;
    margin-top: 20px;
}

.hide {
	text-shadow: 0 0 6px #333333;
	color: transparent;
}

a {
	color: #7bd0c6;
}

.stats {
	/*display: none;*/
	position: absolute;
	top: 0;
	height: 100%;
	z-index: 200;
	background-color: #ffffff;
	width: 100%;
	margin-left: 100%;
}

.timer {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #eeeeee;
	text-align: center;
	font-size: 18px;
}

.emph {
	font-size: 24px;
	font-weight: 700;
	color: #d4bc4e;
}

.candidate {
	text-align: center;
	position: fixed;
	width: 100%;
	background-color: #eeeeee;
	padding-top: 30px;
	padding-bottom: 30px;
	bottom: 0;
}